version: 2.1
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:10.16.0

    steps:
      - checkout
      - run: npm install
      - run: npm install jest
      - run: npm test